* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #424242 url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);



    .content {
        width: 100vw;
        height: 100vh;
        padding: 1rem;
        background: transparent url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png) left top;
    }

    @media screen and (min-width: 992px) {
        .content {
            max-width: 992px;
            margin: 1rem auto;
            height: auto;
            border-radius: 1rem;
        }
    }

}